In [13]:
import pandas as pd

In [14]:
df = pd.read_json('fin.json')
df.head()

,_index,_type,_id,_score,_source,sort
0,complaint-public-v2,_doc,6162140,NaN,"{'product': 'Credit reporting, credit repair s...",[19236]
1,complaint-public-v2,_doc,6150232,NaN,"{'product': 'Credit reporting, credit repair s...",[19616]
2,complaint-public-v2,_doc,6187000,NaN,"{'product': 'Credit reporting, credit repair s...",[22325]
3,complaint-public-v2,_doc,6152964,NaN,"{'product': 'Credit reporting, credit repair s...",[22383]
4,complaint-public-v2,_doc,6161488,NaN,"{'product': 'Checking or savings account', 'co...",[22389]

In [27]:
interval = pd.date_range(start="2022-12-12", 
              end="2023-05-10", freq="M").astype('str').tolist()

In [28]:
for index in range(1, len(interval)):
    print(interval[index-1], interval[index])

2022-12-31 2023-01-31
2023-01-31 2023-02-28
2023-02-28 2023-03-31
2023-03-31 2023-04-30